
<% include partials/header %>
	
    
    </br>
    </br>
    </br>


     <p style="text-align:center;margin-top:200px">
          <button class="btn btn-info btn-lg" type="submit"> Upload Document 1 </button>

    </p>
   
   </br>
     
     <p style="text-align:center">
          <button class="btn btn-info btn-lg" type="submit"> Upload Document 2</button>

    </p>

    <p style="text-align:center;padding-top:18px;">
        <button type="button" class="btn btn-success">Confirm</button>






    

   

    
